/* CSS Document */
html, body, ul, ol, li, h1, h2, p, img {
    padding: 0;
    border: 0;
    margin: 0;
}
body{
    background-color: lightgrey;
}
.podbarveni{
    height: 73px; 
    background-color: red; 
}
#obal {
    width: 90%;
    margin: 0 auto;
}
#hlavicka a {	
    font-family: Arial;
}
#hlavicka{
    height: 73px;
}

#obsah p {
    margin-bottom: 20px;
}
#obsah h2 {
    text-align: center;

}
#obsah img {
    height:60px;
    width:60px;
    float: left;

}
#obsah a {
    text-decoration: none;
    color: black;
}
#obsah a:hover {
    text-decoration: underline;
    color: red;
}
#foto img {
        width: 450px;
        height: 300px;
        float: none;
    }
#menu{
    background-color: red;
    height: 73px;
    margin: auto;
}
#menu ul{
    list-style-type: none;

}
#menu li{
    float: left;
    padding: 0 2.5% ;
    margin: 0 0.5%;
    font-size: 17px;
    height: 73px;
    line-height: 4.3em;
    color: white;
    text-decoration: none;
    border-radius: 2px;
}
#menu li:hover, #menuInHiddenMenu li:hover {
    background-color: blue;
    text-decoration: underline;
    color: white;
}

#pata img {
    width:16px;
    position:relative;
    top:4px;
}
#logo {
    float: left;
    /*width: 160px;*/
    height: 73px;
}
#logo img {
    float: left;
    width: 73px;
    border-radius: 500px; 
}
#logo h2 {
    float: left;

    color: white;
    font-style: normal;
}
section {
    font-size: large;
    font-family: Arial, sans-serif;
}
section h1 {
    text-align: center;
    font-size: xx-large;
}
#pata {
    margin-top: 40px;
    color: black;
    text-align: center;
    font-size: 16px;
}
#login {
    float: right;
    font-size: 16px;
    margin: 0 auto;
    text-decoration: none;
}
#login li {
    float: left;   
    margin: 0 5px;
    padding: 0 0;
    font-size: 17px;
    height: 73px;
    line-height: 4.3em;
    color: lightgray;
    text-decoration: none;
    background-color: red;
    border: none;
}
#login li:hover {
    background-color: blue;
    text-decoration: underline;
    color: white;
}
#login ul {
    list-style-type: none;
    margin: 0;
}
.red {
    color: red;
}
.blue {
    background-color: blue;
}
form {
    text-align: center;
}
#myModalNew {
    background: red;
    padding-top: 0px;
    margin: 0;
    border:0;
    height: 73px;
    float: left;
}
#myModalNew:hover {
    background-color: blue;
    text-decoration: underline;
    color: white;
}
#modal-popup {
    display: none;
    position: fixed;
    width: 200px;
    left: 50%;
    margin-left: -110px;
    background: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 10px #000000;
    z-index: 10000;
}
#modal-background {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #a0a0a0;
    filter: alpha(opacity=70);
    opacity: 0.7;
    z-index: 9999;
}
.show {
    display: block !important;
}
#closeModal {
    position:absolute;
    top: 10px;
    right: 20px;
    width: 20px;
    height: 20px;
    background-color: lightblue;
    color: black;
    text-align: center;
    margin-top: 5px;
    border-radius: 10px;
    cursor: pointer;
}
#closeModal:hover {
    background-color: red;
    color: white;
}
.hiden {
    background-color: yellow;
    position:absolute;
    top: 2px;
    right: 15px;
    border: black;
    border-style:solid;
    border-width: .5px;
    font-size: 11px;
}
#myProfile button{
    background-color: red;
    color: white;
    cursor: pointer;
}
#myProfile button:hover{
    background-color: blue;
}
span {
    font-size: medium;
}
#return {
    border-color: lightgrey;
    border-style:outset;
    border-width: 2px;
    height: 20px;
    font-size: 16px;
    background-color: red;
    color: white;
    margin-top: 1px;
}
#return:hover {
    background-color: blue;

}
h2:hover{
    cursor: pointer;
    color: darkred;
}
fieldset{
    max-width: 80%;
}
#menuButton {
    position:fixed;
    right: 0px;
    display: none;
    background: #00b3ee;
    color: white;
    border: 0;
    font-size: 30px;
    cursor: pointer;
}
#menuInHiddenMenu li {
    display: none;   
    color: white;
    border-radius: 2px;
    padding: 20px;
    background-color: red;
}
#menuInHiddenMenu a{
    text-decoration: none;
}
#menuInHiddenMenu ul {
   list-style-type: none; 
}
#hiddenMenu {
    display: none;
    position: absolute;
    right: 0px;   
}
@media screen and (max-width: 900px) {
    #menuButton, #hiddenMenu{
        display: block;
    }
    #menu{
        display: none;
    }
    #obsah img {
        max-width: 80%;
        max-height: 80%;
        float: left;
    }
    #logo img {
        width: 50px;
    }
    #menu, #menu li, .podbarveni, #myModalNew, #login li, #hlavicka {
        height: 50px;
    }
    #foto img {
        width: 150px;
        height: 100px;
        float: none;
    }
}